<h1>Stupid Coaching</h1>
<br>
<div>
<h6><%=@question%></h6>
<h6>-You</h6>
</div>
<br>
<div>
<h6><%=@reply%></h6>
<h6>-Coach</h6>
</div>
<br>
<a href="http://localhost:3000/ask">Ask the Coach something again!</a>
